body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.todo {
  width: 300px;
  background-color: whitesmoke;
  padding: 1rem;
}

.done {
  width: 300px;
  background-color: rgb(212, 232, 243);
  padding: 1rem;
  height: 350px;
}

.card {
  height: 130px;
  /* background-color: palevioletred; */
  margin: 1rem;
}